body {
    margin: 0px;
}

:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    --color-white: #ffffff;
    --color-grey-lt: #f0f0f0;
    --color-grey-ltr: #fafafa;
    --color-text-body: #172b4d;
    --color-grey: #afb6c2;
    --color-grey-dk: #6b778c;

    font-family: var(--font-family);
    font-size: 14px;
    margin: 0px;
}

.Page-header-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.DomainPage,
.DatasetPage,
.EditorPage {
    padding: 18px;
    padding-top: 0px;
}

.EditorPage-editor {
    margin-left: -18px;
    margin-right: -18px;
    padding-top: 18px;
    background-color: var(--color-grey-ltr);
    border-top: 2px solid var(--color-grey-lt);
}

.DomainPage-body {
    display: flex;
}

.DomainPage-body-tree {
    flex-basis: 200px;
    border-right: 1px solid var(--color-grey-lt);
    margin-right: 8px;
    padding-right: 8px;
}

.DomainPage-body-detail {
    flex-grow: 1;
}

.Editor {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.Editor-content {
    max-width: 60em;
    min-width: 20em;
    flex-basis: 60em;
}

.Editor-content-fields {
    box-shadow: 2px 2px 2px var(--color-grey-lt);
    background: var(--color-white);
    padding: 8px;
}

.Editor-content-actions {
    border-top: 2px solid #f0f0f0;
    background-color: #fafafa;
    padding: 16px;
}

.Editor-sidebar {
    padding: 16px;
    flex-grow: grow;
    min-width: 10em;
}

.Field[data-state~="readonly"] {
    margin-bottom: 8px;
    margin-top: 8px;
}

.Field__separator {
    text-align: center;
}

.Field-label,
.Collection-label {
    color: var(--color-grey-dk);
    font-size: 12px;
    font-weight: 600;
}

/* ---------------------------------------------------------------------------
   ELEMENT
   --------------------------------------------------------------------------- */
.Element-option-id {
    font-size: 11px;
    color: var(--color-grey);
}

.Element-option-description {
    font-size: 12px;
    font-style: italic;
}

/* ---------------------------------------------------------------------------
   COMPOSITE
   --------------------------------------------------------------------------- */

.Composite-list,
.Composite-list-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.Collection-list-item .Collection-list-item-header-actions {
    transition-property: opacity;
    transition-duration: 0.25s;
    opacity: 0.1;
}
.Collection-list-item:hover .Collection-list-item-header-actions {
    opacity: 1;
}

.Composite-list[data-layout="horizontal"] {
    display: flex;
    align-items: center;
}

/* ---------------------------------------------------------------------------
   COLLECTION
   --------------------------------------------------------------------------- */

.Collection-list,
.Collection-list-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Collection-list-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Collection-list-item-header {
    display: flex;
    align-items: center;
    min-height: 3em;
    border-bottom: 2px solid var(--color-grey-lt);
}

.Collection-list-item-header-key {
    flex-grow: 100;
    margin-bottom: 8px;
}

.Collection-list-item-header-key-label {
    display: inline-block;
    /* We need to offset the InlineEdit expanded size */
    padding: 5px;
    font-weight: bold;
}

.Collection-creator {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.Collection[data-type="list"] .Collection-list-item {
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.Collection[data-type="list"] .Collection-list-item-body {
    order: 0;
    flex-grow: 1;
}

.Collection[data-type="list"] .Collection-list-item-header {
    order: 1;
    min-height: 0em;
    border-bottom: 0px solid var(--color-grey-lt);
}

.Collection[data-type="list"] .Collection-list-item-header-tag,
.Collection[data-type="list"] .Collection-list-item-header-key {
    display: none;
}

.Collection[data-style="grid"] .Collection-list-item {
    border-bottom: 1px solid var(--color-grey-lt);
}
.Collection[data-style="grid"] .Collection-list-item:last-child {
    border-bottom: 0px solid var(--color-grey-lt);
}

/* ---------------------------------------------------------------------------
   SECTION
   --------------------------------------------------------------------------- */

.Section {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #f0f0f0;
}

.Section:first-child {
    border-top: 0px solid #f0f0f0;
}

.Section-body {
    overflow: auto;
}

.Section-header {
    display: flex;
    padding-left: 16px;
    padding-right: 8px;
    align-items: center;
}

.Section-header-title {
    margin: 0px;
    flex-grow: 100;
}
.Section-body {
    padding: 16px;
    padding-top: 0px;
}

.DatasetList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    column-count: 2;
}

.DatasetItem {
    list-style-type: none;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: ellipsis;
    cursor: pointer;
}

.DatasetItem:hover {
    background-color: var(--color-grey-lt);
}

.DatasetItem-link {
    text-decoration: none;
    color: var(--color-text-body);
}

.DatasetItem-label {
    font-weight: bold;
    font-size: 14px;
    text-overflow: ellipsis;
}

.DatasetItem-description {
    font-weight: normal;
    font-size: 12px;
    color: #6b778c;
}

.TablePreview {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: var(--color-text-body);
}

.TablePreview .data-grid-container .data-grid .cell {
    padding: 2px 4px 2px 4px;
}

.TablePreview .data-grid-container .data-grid .cell.read-only {
    color: var(--color-grey-dk);
    font-family: var(--font-family);
    background-color: var(--color-grey-lt);
    font-weight: bold;
}

.Occurences-item {
    position: relative;
}
.Occurences-item-label {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    padding: 4px;
}
.Occurences-item-fill {
    position: absolute;
    left: 0px;
    top: 1px;
    bottom: 1px;
    background-color: var(--color-grey-lt);
}

.SemanticAttribute,
.SemanticRelation {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--color-grey-lt);
    font-size: 12px;
    line-height: 1.25em;
}

.SemanticAttribute .SemanticAttribute-actions {
    opacity: 0.15;
}

.SemanticAttribute:hover .SemanticAttribute-actions {
    opacity: 1;
}

.SemanticAttribute:last-child,
.SemanticRelation:last-child {
    border-bottom: 1px solid var(--color-grey-lt);
}

.SemanticAttribute-sep {
    align-self: stretch;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    background-color: var(--color-grey-ltr);
    color: var(--color-grey);
}

.SemanticAttribute-name {
    background-color: var(--color-grey-ltr);
}

.SemanticAttribute-name,
.SemanticAttribute-value,
.SemanticAttribute-qualifier,
.SemanticRelation-name,
.SemanticRelation-object,
.SemanticRelation-value {
    flex-basis: 30%;
    flex-grow: grow;
}

.SemanticAttribute-value {
    flex-basis: 50%;
}

.SemanticAttribute-qualifier {
    flex-basis: 20%;
}

.Hierarchy-item {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.Hierarchy-item-icon {
    cursor: pointer;
    font-family: sans-serif;
}

.Hierarchy-item-icon:before {
    content: "►";
    display: inline-block;
    width: 16px;
    color: var(--color-grey);
}

.Hierarchy-item-icon[data-state~="expanded"]:before {
    content: "▼";
}

.Hierarchy-item-icon[data-state~="empty"]:before {
    content: " ";
}

.Hierarchy-item-icon:after {
    content: "@";
    display: inline-block;
    width: 16px;
}

.Hierarchy-item-label {
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
}

.Hierarchy-item:hover .Hierarchy-item-label {
    background-color: var(--color-grey-lt);
}

.Hierarchy-item[data-state~="selected"] .Hierarchy-item-label {
    font-weight: bold;
}

.DistributionPreview {
    display: none;
}
