body {
    margin: 0px;
}

a:focus {
    outline: 0px solid transparent;
}

:root {
    --font-family: "Inter", sans-serif;
    --color-white: #ffffff;
    --color-white-faded: rgba(255, 255, 255, 0.15);
    --color-black-faded: rgba(0, 0, 10, 0.15);
    --color-transparent: rgba(255, 255, 255, 0);
    --color-grey-lt: #f0f0f0;
    --color-grey-ltr: #fafafa;
    --color-text-body: #172b4d;
    --color-grey: #afb6c2;
    --color-grey-dk: #6b778c;
    --color-blue: #0052cc;
    --color-blue-lt: #2077f8;
    --color-shadow: rgba(0, 0, 0, 0.15);

    font-family: var(--font-family);
    font-size: 14px;
    line-height: 1.35em;
    margin: 0px;
}

.DatCat {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    background-color: var(--color-blue);
}

.DatCat-header {
    color: var(--color-white);
    display: flex;
    align-items: center;
}

.DatCat-header-logo {
    display: block;
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
}

.DatCat-header-logo-icon {
    display: inline-block;
    margin-right: 8px;
}

.DatCat-header-query {
    flex-grow: 100;
    display: flex;
    justify-content: center;
}

.SmartQuery {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: bold;
    border: 2px solid var(--color-white-faded);
    border-radius: 4px;
    padding: 8px;
    background-color: transparent;
    color: var(--color-white);
    width: 400px;
}

.SmartQuery:focus {
    border-color: var(--color-white);
    background-color: var(--color-white-faded);
}
.DatCat-body {
    flex-grow: 100;
    display: flex;
}

.DatCat-sidebar {
    flex-basis: 200px;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.DatCat-content {
    flex-grow: 100;
    overflow: auto;
    height: 100%;
    position: relative;
}

.DatCat-content__wrapper {
    /* FIXME: There might be a better option with CSS grid */
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.Sidebar {
    padding: 8px;
    padding-top: 0px;
    margin-top: -4px;
}

.Sidebar-list,
.Sidebar-item {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.Sidebar-item {
    font-size: 14px;
    font-weight: bold;
}

.Sidebar-item-icon {
    display: inline-block;
    margin-right: 6px;
}

.Sidebar-link {
    color: var(--color-white);
    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    background-color: var(--color-transparent);
    transition-property: background-color;
    transition-duration: 0.25s;
}
.Sidebar-link:hover {
    background-color: var(--color-white-faded);
}

.Sidebar-item .Sidebar-item .Sidebar-link {
    font-size: 11px;
    padding-top: 2px;
    padding-left: 12px;
    padding-bottom: 2px;
}

.Highlighter-match {
    background: yellow;
}

.ContentPage {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.ContentPage-header {
    background-color: var(--color-grey-lt);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    padding-left: 8px;
    padding-right: 16px;
}

.ContentPage-header-icon {
    display: flex;
    align-items: center;
    margin: 8px;
}

.ContentPage-header-icon .Icon svg {
    width: 48px;
    height: 48px;
    color: var(--color-blue);
}

.ContentPage-header-heading {
    flex-grow: 1;
    padding: 8px;
}

.ContentPage-header-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.25em;
}

.ContentPage-header-subtitle {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25em;
    opacity: 0.5;
}

.ContentPage-header-actions {
}

.ContentPage-body {
    background-color: var(--color-white);
    flex-grow: 100;
}

.Page-header-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.DomainPage-body {
    display: flex;
}

.DomainPage-body-tree {
    flex-basis: 200px;
    border-right: 1px solid var(--color-grey-lt);
    margin-right: 8px;
    padding-right: 8px;
}

.DomainPage-body-detail {
    flex-grow: 1;
}

.Editor {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.Editor-fields {
    width: 100%;
}
.Editor-actions {
    border-top: 2px solid #f0f0f0;
    background-color: #fafafa;
    padding: 16px;
}

.Field[data-state~="readonly"] {
    margin-bottom: 8px;
    margin-top: 8px;
}

.Field__separator {
    text-align: center;
}

.Field-label,
.Collection-label {
    color: var(--color-grey-dk);
    font-size: 12px;
    font-weight: 600;
}

.Field-value__text {
    max-width: 50em;
    display: block;
    line-height: 1.5em;
}

/* ---------------------------------------------------------------------------
   ELEMENT
   --------------------------------------------------------------------------- */

.Element-option-id {
    font-size: 11px;
    color: var(--color-grey);
}

.Element-option-description {
    font-size: 12px;
    font-style: italic;
}

/* ---------------------------------------------------------------------------
   COMPOSITE
   --------------------------------------------------------------------------- */

.Composite-list,
.Composite-list-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.Collection-item .Collection-item-header-actions {
    transition-property: opacity;
    transition-duration: 0.25s;
    opacity: 0.1;
}
.Collection-item:hover .Collection-item-header-actions {
    opacity: 1;
}

.Composite-list[data-layout="horizontal"] {
    display: flex;
    align-items: center;
}

/* ---------------------------------------------------------------------------
   COLLECTION
   --------------------------------------------------------------------------- */

.Collection-list,
.Collection-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Collection-item {
    margin-bottom: 16px;
}

.Collection-item-header {
    display: flex;
    align-items: center;
}

.Collection-item-header-icon {
    color: var(--color-blue);
    margin-right: 8px;
}
.Collection-item-header-key {
    flex-grow: 100;
}

.Collection-item-header-key-label {
    display: inline-block;
    /* We need to offset the InlineEdit expanded size */
    padding: 5px;
    font-weight: bold;
}
.Collection-item-body {
    padding-left: 26px;
    margin-top: -8px;
}

.Collection-creator {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.Collection[data-type="list"] .Collection-item {
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.Collection[data-type="list"] .Collection-item-body {
    order: 0;
    flex-grow: 1;
}

.Collection[data-type="list"] .Collection-item-header {
    order: 1;
    min-height: 0em;
    border-bottom: 0px solid var(--color-grey-lt);
}

.Collection[data-type="list"] .Collection-item-header-tag,
.Collection[data-type="list"] .Collection-item-header-key {
    display: none;
}

.Collection[data-style="grid"] .Collection-item {
    border-bottom: 1px solid var(--color-grey-lt);
}
.Collection[data-style="grid"] .Collection-item:last-child {
    border-bottom: 0px solid var(--color-grey-lt);
}

/* ---------------------------------------------------------------------------
   SECTION
   --------------------------------------------------------------------------- */

.Section {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #f0f0f0;
}

.Section:first-child {
    border-top: 0px solid #f0f0f0;
}

.Section-header {
    display: flex;
    padding-left: 16px;
    padding-right: 8px;
    align-items: center;
}

.Section-header-title {
    margin: 0px;
    flex-grow: 100;
    font-size: 16px;
}
.Section-body {
    padding: 16px;
    padding-top: 0px;
}

.DatasetList {
}

.DatasetList-header {
    font-size: 12px;
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-grey-lt);
    color: var(--color-grey);
}

.DatasetList-items {
    column-count: 2;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding: 16px;
    padding-top: 8px;
}

.DatasetList-item {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.DatasetList-item:hover {
    background-color: var(--color-grey-lt);
}

.DatasetGroup {
    border-bottom: 1px solid var(--color-grey);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.DatasetGroup:last-child {
    border-bottom: 0px solid var(--color-grey);
}

.DatasetGroup-list {
    padding: 0;
    margin: 0;
}

.DatasetGroup-label {
    color: var(--color-grey-dk);
    font-weight: bold;
    font-size: 20px;
    line-height: 1.25em;
    text-decoration: none;
    padding-left: 8px;
    display: block;
}

.DatasetItem {
    text-decoration: none;
    color: var(--color-text-body);
}

.DatasetItem-header {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.DatasetItem-heading,
.DatasetItem-label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.DatasetItem-icon {
    margin-right: 8px;
    color: var(--color-grey);
}
.DatasetItem-icon .Icon svg {
    width: 32px;
    height: 32px;
}
.DatasetItem:hover .DatasetItem-icon {
    color: var(--color-blue);
}

.DatasetItem-label {
    font-weight: bold;
    font-size: 14px;
    text-overflow: ellipsis;
}

.DatasetItem-meta {
    font-size: 11px;
    font-weight: 400;
    opacity: 0.5;
}

.DatasetItem-description {
    font-weight: normal;
    font-size: 12px;
    color: #6b778c;
}

.DatasetItem[data-metadata="false"] .DatasetItem-description:before {
    content: "No metadata available";
    color: red;
}

.TablePreview {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-body);
}

.TablePreview .data-grid-container .data-grid .cell {
    padding: 2px 4px 2px 4px;
}

.TablePreview .data-grid-container .data-grid .cell.read-only {
    color: var(--color-grey-dk);
    font-family: var(--font-family);
    background-color: var(--color-grey-lt);
    font-weight: bold;
}

.Occurences-item {
    position: relative;
}
.Occurences-item-label {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    padding: 4px;
}
.Occurences-item-fill {
    position: absolute;
    left: 0px;
    top: 1px;
    bottom: 1px;
    background-color: var(--color-grey-lt);
}

.SemanticAttribute,
.SemanticRelation {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--color-grey-lt);
    font-size: 12px;
    line-height: 1.25em;
}

.SemanticAttribute .SemanticAttribute-actions {
    opacity: 0.15;
}

.SemanticAttribute:hover .SemanticAttribute-actions {
    opacity: 1;
}

.SemanticAttribute:last-child,
.SemanticRelation:last-child {
    border-bottom: 1px solid var(--color-grey-lt);
}

.SemanticAttribute-sep {
    align-self: stretch;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    background-color: var(--color-grey-ltr);
    color: var(--color-grey);
}

.SemanticAttribute-name {
    background-color: var(--color-grey-ltr);
}

.SemanticAttribute-name,
.SemanticAttribute-value,
.SemanticAttribute-qualifier,
.SemanticRelation-name,
.SemanticRelation-object,
.SemanticRelation-value {
    flex-basis: 30%;
    flex-grow: grow;
}

.SemanticAttribute-value {
    flex-basis: 50%;
}

.SemanticAttribute-qualifier {
    flex-basis: 20%;
}

.Hierarchy-item {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.Hierarchy-item-icon {
    cursor: pointer;
    font-family: sans-serif;
}

.Hierarchy-item-icon:before {
    content: "►";
    display: inline-block;
    width: 16px;
    color: var(--color-grey);
}

.Hierarchy-item-icon[data-state~="expanded"]:before {
    content: "▼";
}

.Hierarchy-item-icon[data-state~="empty"]:before {
    content: " ";
}

.Hierarchy-item-icon:after {
    content: "@";
    display: inline-block;
    width: 16px;
}

.Hierarchy-item-label {
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
}

.Hierarchy-item:hover .Hierarchy-item-label {
    background-color: var(--color-grey-lt);
}

.Hierarchy-item[data-state~="selected"] .Hierarchy-item-label {
    font-weight: bold;
}

.DistributionPreview {
    display: none;
}

.DatasetListPage {
    min-height: 100%;
    background-color: var(--color-white);
    border-top-left-radius: 4px;
}
