:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  --color-grey-lt: #f0f0f0;
  --color-grey-ltr: #fafafa;
  --color-text-body: #172b4d;
}

.Page-header-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.EditorPage {
  background-color: var(--color-grey-ltr);
}

.Editor {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.Editor-content {
  max-width: 60em;
  min-width: 20em;
  flex-basis: 60em;
}

.Editor-content-fields {
  border-right: 2px solid #f0f0f0;
  background: #ffffff;
}

.Editor-content-actions {
  border-top: 2px solid #f0f0f0;
  background-color: #fafafa;
  padding: 16px;
}

.Editor-sidebar {
  background: #fafafa;
  padding: 16px;
  flex-grow: grow;
  min-width: 10em;
}

.Composite-list,
.Composite-list-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Collection-list,
.Collection-list-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Collection-list-item {
  margin-top: 10px;
}

.Collection-list-item-header {
  display: flex;
  align-items: center;
  min-height: 3em;
  border-bottom: 2px solid var(--color-grey-lt);
}

.Collection-list-item-header-key {
  flex-grow: 100;
  margin-bottom: 8px;
}

.Collection-list-item-header-key-label {
  display: inline-block;
  /* We need to offset the InlineEdit expanded size */
  padding: 5px;
  font-weight: bold;
}

.Collection-creator {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.Section {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #f0f0f0;
}

.Section:first-child {
  border-top: 0px solid #f0f0f0;
}

.Section-header {
  display: flex;
  padding-left: 16px;
  padding-right: 8px;
  align-items: center;
}

.Section-header-title {
  margin: 0px;
  flex-grow: 100;
}
.Section-body {
  padding: 16px;
  padding-top: 0px;
}

.DatasetList {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  column-count: 2;
}

.DatasetItem {
  list-style-type: none;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: ellipsis;
  cursor: pointer;
}

.DatasetItem:hover {
  background-color: var(--color-grey-lt);
}

.DatasetItem-link {
  text-decoration: none;
  color: var(--color-text-body);
}

.DatasetItem-label {
  font-weight: bold;
  font-size: 14px;
  text-overflow: ellipsis;
}

.DatasetItem-description {
  font-weight: normal;
  font-size: 12px;
  color: #6b778c;
}
